  .tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }
  .rowC{display:flex; 
    padding-left: 0.8rem;
    flex-direction:row;}

 .parent{
  display:flex; 
    }
  

  .child-one{
    flex-basis: 80%;
    }
    
  .child-two{
    padding-left: 5;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    height: 50px;
      }
  
  .border{
    border: '1px solid red', 


  }

    
                